html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15em;
}

h1 {
    letter-spacing: 0.15em;
    text-align: center;
    font-size: 2.6em;
}

div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

textarea {
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.05em;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border: 1px rgb(237, 232, 232) solid;
    /* border: none; */
}

textarea::placeholder {
    font-size: 1.4em;
    font-weight: 100;
}

#sectionLength {
    width: 100%;
    max-width: 450px;
}

input {
    /* range */
    margin: 10px;
    width: 100%;
    /* max-width: 420px; */
    opacity: 0.6;
}

label {
    color: rgb(124, 124, 124);
    font-size: large;
    margin-bottom: 10px;
    font-style: italic;
}

button {
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 13px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

button:active {
    background-color: rgb(240, 236, 236);
}

span {
    margin: 10px;
}

article {
    margin-top: 10px;
    font-size: 1.05em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 25px;
    line-height: 1.4em;
}